
div#leftChooseTraject {
	float: left;
	width: 250px;
	height: 500px;
	margin-right: 5px;
    overflow: auto;
    -webkit-box-shadow: inset rgba(100, 100, 100, 0.5) 0 1px 5px;
    -moz-box-shadow: inset rgba(100, 100, 100, 0.5) 0 1px 5px;
    -o-box-shadow: inset rgba(100, 100, 100, 0.5) 0 1px 5px;
    -ms-box-shadow: inset rgba(100, 100, 100, 0.5) 0 1px 5px;
    box-shadow: inset rgba(100, 100, 100, 0.5) 0 1px 5px;
    border-radius: 5px;
    background-color: #EEE;
    border: #CCC 1px solid;
}

div#leftChooseTraject div#choices {
    font-size: 12px;
    border-bottom: #CCC 1px solid;

}
div#leftChooseTraject div#choices:hover{
    background:#FFF;
    -webkit-box-shadow: #BBB 0 0px 5px;
    -moz-box-shadow:#BBB 0 0px 5px;
    -o-box-shadow: #BBB 0 0px 5px;
    -ms-box-shadow: #BBB 0 0px 5px;
    box-shadow: #BBB 0 0px 5px;
}

div#leftChooseTraject div#choices div.choice {
	cursor: pointer;
	padding: 10px;
}

div#leftChooseTraject div#static {
	padding: 5px;
    margin-top: 15px;
	text-align: justify;
	line-height: 150%;
}

div#leftChooseTraject div#static div#links {
	text-align: center;
	font-size: 120%;
	margin-top: 5px;
}