@(Username: String, ReqList: List[models.objects.Request])

@header = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/traject.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/proposal.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/traject.js")" charset="utf-8"></script>
}

@main(title = "Request Traject", Username = Username, Header = header) {
<ul class="bar">
            <li><a href="/traject/driver" style="border-right: #CCC solid 1px;" >Driver</a></li>
            <li><a href="/traject/passanger" style="border-right: #CCC solid 1px;">Passager</a></li>
            <li class="selected"><a href="/traject/request">Queries requested</a></li>
    </ul>

@if(ReqList == null || ReqList.length == 0){
    <div style="font-size: 14px; margin: 20px; text-align: center;">
        You have not queries in database.
    </div>
    } else {
    @for(Req <- ReqList){
        <div class="trajectlist">
            <div class="datalist" id="list_@Req.getId()">
                <ul class="functionbar">
                     <li><a href="/traject/request/remove?id=@Req.getId()">Remove</a></li>
                </ul>
                <div>
                    <div class="view">
                        @traject.view_request(Req)
                    </div>
                </div>
            </div>
        </div>
        }
    }

}
