@(username: String, error: String)

@header = {

}

@main(title = "Match later", Username = username, Header = header) {
    <h1>Match your request later</h1>
	<p style="font-size: 13px;">
		With this option, your request will be saved in our servers. 
		You will be informed when a driver submits a new potentially interesting proposal.
	</p>
	<p style="text-align: center;">
		<a href="/recordingpendingrequest" class="grayButton" style="margin: 10px; width: 125px; float: right;">Confirm matching</a>
        <a href="javascript:history.back()" class="grayButton" style="margin: 10px; width: 125px; float: left;">Cancel</a>
        <div class="clearfix"></div>
	</p>
}