@(username: String, error: String, trajects: List[models.objects.Traject], from: models.objects.Coordinate, to: models.objects.Coordinate)

@header = {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/requestselecttraject.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/map.js")" charset="utf-8"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/request.js")" charset="utf-8"></script>
	<script src="//maps.googleapis.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript">
	
		// Transmission variables server -> client
		var trajects = [
			@for(t <- trajects) {
				{
					driver : 	"@t.getProposal().getUser().getLogin().replaceAll("\"", "&quot;")",
					price : 	"@t.getTotalCost()",
					from : 		new google.maps.LatLng(@t.getDeparturePP().getPickupPoint().getCoordinates().getY() , @t.getDeparturePP().getPickupPoint().getCoordinates().getX()),
					to : 		new google.maps.LatLng(@t.getArrivalPP().getPickupPoint().getCoordinates().getY() , @t.getArrivalPP().getPickupPoint().getCoordinates().getX()),
					fromName : 	"@t.getDeparturePP().getPickupPoint().getName()",
					toName : 	"@t.getArrivalPP().getPickupPoint().getName()"
				},
			}
		]
		
		for (i in trajects)
			trajects[i].id = i;
		
		var from = new google.maps.LatLng(@from.getY(),@from.getX());
		var to   = new google.maps.LatLng(@to.getY(),  @to.getX());
		var center = {
			'X' : @(from.getX() + to.getX())/2,
			'Y' : @(from.getY() + to.getY())/2
		};
	</script>
}

@main(title = "Select a traject", Username = username, Header = header) {
    <h1>Select a traject</h1>
	<div id="leftChooseTraject">
		<div id="choices"></div>
		<div id="static">
			You have'nt found a convenient traject ? You can still use the "Match later function" in order to be alerted when a new traject is encoded:<br />
			<div id="links">
				<a href="/pendingrequest">Match later</a>
			</div>
		</div>
	</div>
	<div id="map" style="height: 500px;"></div>
}