@(user: models.objects.User)

<div class="block">
    <dt>Login</dt>
    <dd>@user.getLogin()</dd>
    @if(user.getFirstName() != null && user.getFirstName() !=""){
    <dt>First name</dt>
    <dd>@user.getFirstName()</dd>
    }
    @if(user.getName() != null && user.getName() !=""){
    <dt>Last name</dt>
    <dd>@user.getName()</dd>
    }
    @if(user.getEmail() != null && user.getEmail() !=""){
    <dt>Email</dt>
    <dd>@user.getEmail()</dd>
    }
    @if(user.getPhoneNumber() != null && user.getPhoneNumber() !=""){
    <dt>Phone number</dt>
    <dd>@user.getPhoneNumber()</dd>
    }
	@if(user.getAssessment() != null && user.getAssessment().length != 0){
    <dt>Rating</dt>
    <dd>@user.getMeanRating()/5 (<a href="/user/seerating?userId=@user.getId()">see details</a>)</dd>
    }
</div>

