@(Traj: models.objects.Traject)

<div class="block">
    <div class="selection">
        <div class="title">User</div>
        <div class="data">
            @user.view(Traj.getUser())
        </div>
    </div>
</div>

<div class="block">
    <div class="selection">
        <div class="title">Departure</div>
        <div class="data">
            @traject.view_composition(Traj.getDeparturePP())
        </div>
    </div>
</div>

<div class="block">
    <div class="selection">
        <div class="title">Arrival</div>
        <div class="data">
            @traject.view_composition(Traj.getArrivalPP())
        </div>
    </div>
</div>