@(Form: FormUI)
<form action="@Form.action" method="@Form.meth" @if(Form.id != null){ id="@Form.id"}>
    <div class="error">
        <ul>
            @for(field <- Form.getFields()){
                @if(field.isError) {
                <li>@field.error</li>
                }
            }
        </ul>
    </div>
    <dl>
    @for(field <- Form.getFields()){
        <dt>@field.name</dt>
        <dt>
            <input
                    type="@field.typeinput"
                    name="@field.id"
                    value="@field.value"
                    @if(field.id != null){ id="@field.id" }
                    @if(field.placeholder != null){ placeholder="@field.placeholder"}
					@if(field.required){ required="required" }
            />
        </dt>
    }
    </dl>

</form>