logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.metadata/*
RemoteSystemsTempFiles/*
carpooling/.metadata/*
carpooling/.target/*
carpooling/RemoteSystemsTempFiles/*
carpooling/conf/evolutions/default/1.sql
