@(Username: String, PropList: List[models.objects.Proposal])

@header = {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/traject.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/proposal.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/traject.js")" charset="utf-8"></script>
}

@main(title = "Driver Traject", Username = Username, Header = header) {
<ul class="bar">
    <li class="selected"><a href="/traject/driver" style="border-right: #CCC solid 1px;" >Driver</a></li>
    <li><a href="/traject/passanger">Passager</a></li>
</ul>

@if(PropList == null || PropList.length == 0){
<div style="font-size: 14px; margin: 20px; text-align: center;">
    Empty. You can create <a href="/proposal">here</a>.
</div>
} else {
    @for(prop <- PropList){
        <div class="trajectlist">
            <div class="summary" onclick="listdisplay('@prop.getId()')" id="list_sum_@prop.getId()">
                <span class="from">@prop.getItinerary().getFirst().getPickupPoint().getAddress()</span>
                <span class="to">@prop.getItinerary().getLast().getPickupPoint().getAddress()</span>
                <div class="clearfix"></div>
            </div>
            <div class="datalist" id="list_@prop.getId()" style="display:none;">
                <ul class="functionbar">
					<li><a href="javascript:rateWindow(@prop.getId())">Rate this driver</a></li>
                    <li><a href="/proposal/remove?id=@prop.getId()">Remove</a></li>
                </ul>
				<form method="post" action="/traject/rate" id="rateDiv" style="border: 1px solid gray; display: none; padding: 5px; margin-top: 15px;"><input type="hidden" name="isPassenger" value="false" /></form>
                <div>
                    @view(prop)
                </div>
            </div>
        </div>
    }
}

}
