@(Prop: models.objects.Proposal)

<div class="view">

<div class="block">
    <div class="selection">
        <div class="title">Technical information</div>
        <div class="data">
            <dt>km cost</dt>
            <dd>@Prop.getKmCost() €</dd>
            <dt>Available seats</dt>
            <dd>@Prop.getAvailableSeats()</dd>
        </div>
    </div>
</div>

<div class="block">
    <div class="selection">
        <div class="title">Car</div>
        <div class="data">
            @user.car.view(Prop.getCar())
        </div>
    </div>
</div>

@if(Prop.getItinerary() !=null){
<div class="block">
    @for(Iti <- Prop.getItinerary()){
    <div class="selection">
        <div class="title">Crossing points</div>
        <div class="data">
            @traject.view_itinerary(Iti)
        </div>
    </div>
    }
</div>
}

    @if(Prop.getTraject() != null && !Prop.getTraject().isEmpty()){
    <div class="block">

        <div class="selection">
            <div class="title">People in car</div>
            <div class="data">
            @for(trj <- Prop.getTraject()){
                @traject.view_mini(trj)
            }
            </div>
        </div>
    </div>
    }

</div>